<div ng-controller="modules/acc/controllers/master">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <ul class="navbar-nav nav navbar-left">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li>
                            <a href="#/master/gisindex">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                GIS视图
                            </a>
                        </li>
                        <li>
                            <a href="#/master/homeindex">
                                <i class="glyphicon glyphicon-th"></i>
                                点位视图
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#/master/manage">
                                <i class="glyphicon glyphicon-cog"></i>
                                管理
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ng-controller="modules/acc/controllers/test">
                            <a href="" ng-click="vm.formtest()">
                                <i class="glyphicon glyphicon-cog"></i>
                                测试
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="" ng-click="vm.exit()">
                                <i class="glyphicon glyphicon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container-fluid pull-right">
            <ul class="navbar-nav nav navbar-right">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-comment"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li>
                            <a href="">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                        </li> -->
                        <li class="text-center">
                            <a>无消息</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="text-center">
                            <a href="">查看更多</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse text-center">
            <h4 class="navbar-text" style="display: inline-block; float: none;">智能管廊管理平台</h4>
        </div>
    </div>
    <div ui-view class="acc-container navbar-under"></div>
</div>