<div>
    <div class="acc-bar left panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <strong>管廊信息</strong>
                </span>
            </div>
            <div class="list-group">
                <div class="list-group-item clearfix">
                    <h4 class="list-group-item-heading pull-left">
                        <i class="fas fa-clock fa-fw fa-3x"></i>
                    </h4>
                    <p class="list-group-item-text">...</p>
                </div>
                <div class="list-group-item clearfix">
                    <h4 class="list-group-item-heading pull-left">
                        <i class="fas fa-cloud fa-fw fa-3x"></i>
                    </h4>
                    <p class="list-group-item-text">...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div>故障分区 / 总数</div>
                        <h4>
                            <strong>10/43</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div>廊内人员总数</div>
                        <h4>
                            <strong>18</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div>故障舱室 / 总数</div>
                        <h4>
                            <strong>10/43</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div>故障设备 / 总数</div>
                        <h4>
                            <strong>10/43</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default acc-container bottom" style="top: 448px">
            <div class="panel-heading">
                <span class="panel-title">
                    <strong>入廊人员</strong>
                </span>
            </div>
            <div class="list-group"></div>
        </div>
    </div>

    <div class="acc-bar right panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    <strong>故障信息</strong>
                </span>
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>