<div ng-controller="modules/manage/components/vars/list">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">设备类型</a>
        </li>
        <li role="presentation">
            <a href="">
                <i class="glyphicon glyphicon-plus"></i>
                添加分组
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane container active" id="home"></div>
    </div>
</div>