<div ng-init="$data.model=$data.model||{}" ng-controller="modules/broadcast/components/terminal/deviceForm">
    <div class="modal-header">
        <a href="" class="close" ng-click="$dismiss()">&times;</a>
        <h4 class="modal-title">
            <i class="glyphicon glyphicon-edit"></i>&nbsp;{{$data.title}}
        </h4>
    </div>
    <div class="modal-body">
        <form class="form-inline inline-form" name="theForm" sf-schema="$data.formParams.schema()" sf-form="$data.form"
            sf-options="$data.formParams.options()" sf-model="$data.model"></form>
        <div leaflet tiles="mapTiles" markers="markers" style="height:500px" defaults="mapDefaults" ng-init="vm.initModalMap()"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!theForm.$valid" ng-click="$close($data.model)">
            <i class="glyphicon glyphicon-ok-sign"></i>
            确定
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">
            <i class="glyphicon glyphicon-remove-sign"></i>
            取消
        </button>
    </div>
</div>