.pb-container {
  margin: 0 15px 15px;
}

.pb-container .tools {
  width: 300px;
  overflow: auto;
}

.pb-container .area {
  margin-left: 300px;
  margin-right: 300px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  overflow: auto;
}

.pb-container .property {
  width: 300px;
  left: auto;
}

form.h-form {
  .form-group {
    .control-label {
      width: 20%;
      float: left;
    }
    .form-control {
      width: 80%;
    }
  }
}

form.form-inline.inline-form {
  .form-group {
    width: 100%;

    > .control-label {
      width: 20%;
    }
    > .form-control,
    > .input-group,
    > .btn-group {
      width: 79%;
    }
  }
}

.marker-cluster-normal {
  background-color: rgb(181, 226, 140);
}
.marker-cluster-normal div {
  background-color: rgb(110, 204, 57);
}

.marker-cluster-alert {
  background-color: rgb(253, 156, 115);
}
.marker-cluster-alert div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 30px;
}
.marker-cluster div {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 25px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 25px;
}
