<div class="list-group-item" ng-click="vm.selectArea(area)" ng-class="{'active' : currentArea === area}">
    <span class="glyphicon" ng-class="{ 'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed }" ng-click="this.toggle();$event.stopPropagation();"></span>
    <span ng-bind="area.name"></span>
</div>
<ol ui-tree-nodes ng-model="area.areas" ng-class="{hidden: collapsed}" ng-if="area.areas!==undefined">
    <li ng-repeat="area in area.areas" ui-tree-node ng-include="'modules/broadcast/components/dashboard/areaNode.html'"></li>
</ol>