body {
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}
.panel-heading input,
.panel-heading input:active,
.panel-heading input:focus,
.panel-heading input:hover {
  height: 20px;
  border: none;
  border-color: transparent;
  background-color: transparent;
}
/* bs */
.bg-blank {
  background-color: #fff;
}
.bg-muted {
  background-color: #eee;
}
.bg-skyblue {
  color: #fff;
  background-color: #62c6ad;
}
.navbar-xs {
  min-height: 40px;
}
.navbar-skyblue {
  color: #fff;
  background-color: #62c6ad;
}
.navbar-skyblue .navbar-nav > li > a {
  color: #fff;
}
.navbar-skyblue .nav > li > a:focus,
.navbar-skyblue .nav > li > a:hover {
  text-decoration: none;
  background-color: #60a594;
}
.navbar-skyblue .nav .open > a,
.navbar-skyblue .nav .open > a:focus,
.navbar-skyblue .nav .open > a:hover {
  background-color: #60a594;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px;
}
.form-control-enabled,
.form-control-enabled[disabled],
.form-control-enabled[readonly] {
  background-color: #fff;
}
/* nav-swiper */
.nav.nav-swiper > li > a:hover,
.nav.nav-swiper > li > a:focus {
  background-color: transparent;
}
.nav-swiper {
  margin-top: 1px;
  border-bottom: 1px solid #ddd;
}
.nav-swiper.nav-justified {
  width: 100%;
  border-bottom: none;
  margin-top: 0;
}
.nav-swiper.nav-justified > li {
  float: none;
}
.nav-swiper.shadow {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.nav-swiper > li {
  float: left;
  margin-bottom: -1px;
}
.nav-swiper > li.active:after {
  float: left;
  width: 100%;
  height: 4px;
  background-color: #eee;
}
.nav-swiper li:after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: transparent;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
}
@media (min-width: 768px) {
  .navbar-xs .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-swiper.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-swiper.nav-justified > li > a {
    margin-bottom: 0;
  }
  .nav-swiper.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
  }
}
.nav-swiper.nav-swiper-default > li.active:after {
  background-color: #777;
}
.nav-swiper.nav-swiper-primary > li.active:after {
  background-color: #428bca;
}
.nav-swiper.nav-swiper-warning > li.active:after {
  background-color: #f0ad4e;
}
.nav-swiper.nav-swiper-danger > li.active:after {
  background-color: #d9534f;
}
.nav-swiper.nav-swiper-info > li.active:after {
  background-color: #5bc0de;
}
.nav-swiper.nav-swiper-success > li.active:after {
  background-color: #5cb85c;
}
/* table */
.acc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.acc-container.body {
  top: 43px;
  overflow: auto;
}
.acc-container.navbar-under {
  margin-top: 50px;
}
.acc-container.bottom {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.acc-container.top {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.acc-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  padding-top: 1px;
}
.acc-bar.left {
  left: 0;
}
.acc-bar.right {
  right: 0;
}
.acc-bg {
  background-color: #222;
}
.acc-bar-center {
  margin: 1px 300px 20px;
}
.acc-map {
  position: relative;
  width: 100%;
  height: 100%;
}
.acc-manage {
  margin-top: 20px;
}
.acc-manage .sidebar {
  width: 250px;
  padding: 0 15px;
}
.acc-manage .sidebar .panel-title a,
.acc-manage .sidebar .list-group-item a {
  clear: both;
}
.acc-manage .sidebar .panel-title span,
.acc-manage .sidebar .list-group-item span {
  margin-left: 35px;
}
.acc-manage .sidebar .panel-title i {
  position: absolute;
}
.acc-manage .content {
  margin-left: 250px;
  margin-right: 15px;
}
.acc-manage .content > .view {
  margin-top: 56px;
}
.manage-table table {
  width: 100%;
}
.pb-container {
  margin: 0 15px 15px;
}
.pb-container .tools {
  width: 300px;
  overflow: auto;
}
.pb-container .area {
  margin-left: 300px;
  margin-right: 300px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  overflow: auto;
}
.pb-container .property {
  width: 300px;
  left: auto;
}
.leaflet-container .navbar a,
.leaflet-container .dropdown-menu a {
  width: inherit;
}
.leaflet-container .navbar a,
.leaflet-container .dropdown-menu a,
.leaflet-container .navbar a:hover,
.leaflet-container .dropdown-menu a:hover {
  width: inherit;
  height: inherit;
  line-height: inherit;
  display: inherit;
  text-align: inherit;
}
.leaflet-container .navbar a:first-child,
.leaflet-container .dropdown-menu a:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.leaflet-container .navbar a:last-child,
.leaflet-container .dropdown-menu a:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
