body {
  font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}
.acc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.acc-container.body {
  top: 43px;
  overflow: auto;
}
.acc-container.navbar-under {
  margin-top: 50px;
}
.acc-container.bottom {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.acc-container.top {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.acc-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  padding-top: 1px;
}
.acc-bar.left {
  left: 0;
}
.acc-bar.right {
  right: 0;
}
.acc-bg {
  background-color: #222;
}
.acc-bar-center {
  margin: 1px 320px 20px;
}
.acc-map {
  position: relative;
  width: 100%;
  height: 100%;
}
.acc-manage {
  margin-top: 20px;
}
.acc-manage .sidebar {
  width: 250px;
  padding: 0 15px;
}
.acc-manage .content {
  margin-left: 250px;
  margin-right: 15px;
}
.acc-manage .content > .view {
  margin-top: 56px;
}
.leaflet-container .navbar a,
.leaflet-container .dropdown-menu a {
  width: inherit;
}
.leaflet-container .navbar a,
.leaflet-container .dropdown-menu a,
.leaflet-container .navbar a:hover,
.leaflet-container .dropdown-menu a:hover {
  width: inherit;
  height: inherit;
  line-height: inherit;
  display: inherit;
  text-align: inherit;
}
.leaflet-container .navbar a:first-child,
.leaflet-container .dropdown-menu a:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.leaflet-container .navbar a:last-child,
.leaflet-container .dropdown-menu a:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
