<div class="form-group has-feedback dropdown" style="margin: 0">
    <input class="form-control dropdown-toggle" data-toggle="dropdown" readonly="readonly" placeholder="选择设备类型">
    <div class="dropdown-menu dropdown-menu-right" style="width: 600px">
        <div class="panel-body">
            <dl class="dl-horizontal" ng-repeat="cab in categories">
                <dt>{{cab.name}}</dt>
                <dd>
                    <a href="" ng-click="vm.selectCategory(c)" ng-repeat="c in cab.children">
                        <span class="label" ng-class="{'label-primary': selectedCategories[c.code], 'label-default': !selectedCategories[c.code]}">{{c.name}}</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="form-control-feedback">
        <span class="caret"></span>
    </div>
</div>