<ul class="nav nav-swiper nav-justified shadow nav-swiper-primary">
    <li class="text-center active">
        <a href="#cus_views" aria-controls="cus_views" role="tab" data-toggle="tab">
            图层
        </a>
    </li>
    <li class="text-center">
        <a href="#cus_pros" aria-controls="cus_pros" role="tab" data-toggle="tab">
            属性
        </a>
    </li>
</ul>
<div class="tab-content acc-container" style="margin-top: 41px">
    <div role="tabpanel" class="tab-pane acc-container active" style="overflow: auto" id="cus_views">
        <div class="navbar navbar-default navbar-xs navbar-static-top">
            <div class="navbar-header">
                <div class="navbar-form">
                    <div class="btn-group dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="lay in layerList">
                                <a href="" ng-click="vm.addLayer(lay)">{{lay.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div nicescroll class="acc-container" style="margin-top: 40px">
            <div class="panel-body">
                <div class="panel-group">
                    <div class="panel panel-default" ng-class="{'panel-info': editingLayer.uuid === lay.uuid}" ng-repeat="lay in model.properties.layers">
                        <div class="panel-heading" ng-click="vm.selectLayer(lay)">
                            <a href="">{{lay.name}}</a>
                            <div class="pull-right">
                                <a href="" class="text-danger" ng-click="vm.removeLayer($index)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    删除
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="panel-body">
            <div class="panel-group">
                <div class="panel panel-default" ng-class="{'panel-info': editingLayer.uuid === lay.uuid}" ng-repeat="lay in model.properties.layers">
                    <div class="panel-heading" ng-click="vm.selectLayer(lay)">
                        <a href="">{{lay.name}}</a>
                        <div class="pull-right">
                            <a href="" class="text-danger" ng-click="vm.removeLayer($index)">
                                <i class="glyphicon glyphicon-trash"></i>
                                删除
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel btn-group btn-group-justified">
                    <button class="btn btn-primary" ng-click="vm.addLayer()">
                        <i class="glyphicon glyphicon-plus"></i>
                        创建图层
                    </button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>

                </div>

            </div>
        </div> -->
    </div>
    <div nicescroll role="tabpanel" class="tab-pane acc-container" style="overflow: auto" id="cus_pros">
        <div class="panel-body">
            <dl class="dl-settings">
                <dt>
                    <i class="glyphicon glyphicon-th-list"></i>
                    基本信息
                    <div class="pull-right">
                        <a href="" ng-click="vm.setInfo()">
                            <i class="fas fa-edit"></i>
                            设置
                        </a>
                    </div>
                </dt>
                <dd>
                    <div class="form-group">
                        <label>名称</label>
                        <div>{{model.name}}</div>
                    </div>
                    <div class="form-group">
                        <label>描述</label>
                        <p>{{model.description}}</p>
                    </div>
                    <!-- <form name="mapInfoForm" sf-schema="info.formParams.schema()" sf-form="info.form" sf-options="info.formParams.options()"
                        sf-model="model"></form> -->
                </dd>
            </dl>
            <dl class="dl-settings">
                <dt>
                    <i class="glyphicon glyphicon-th-list"></i>
                    地理位置
                    <div class="pull-right">
                        <a href="" ng-click="vm.goLatLng()">
                            <i class="fas fa-location-arrow"></i>
                            定位
                        </a>
                        &nbsp;
                        <a href="" ng-click="vm.setLatLng()">
                            <i class="fas fa-edit"></i>
                            设置
                        </a>
                    </div>
                </dt>
                <dd>
                    <div class="form-group">
                        <label>经度</label>
                        <div>{{model.properties.defaults.center.lng}}</div>
                    </div>
                    <div class="form-group">
                        <label>纬度</label>
                        <div>{{model.properties.defaults.center.lat}}</div>
                    </div>
                    <div class="form-group">
                        <label>缩放</label>
                        <div>{{model.properties.defaults.center.zoom}}</div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>