<div ng-controller="modules/acc/components/gisSettings/settings" ng-init="vm.loadLocation()">
    <div class="acc-container" style="top: 20px">
        <div class="panel panel-default acc-container pb-container">
            <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <div class="navbar-form">
                        <a href="#/master/manage/gislocation" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            返回
                        </a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="navbar-form navbar-right">
                        <a href="" class="btn btn-primary" role="button" ng-click="vm.saveLocation()">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            保存
                        </a>
                    </div>
                </div>
            </div>
            <div class="acc-container" style="margin-top: 50px">
                <div class="acc-container tools" ng-include="'modules/acc/components/gisSettings/toolbox.html'" ng-controller="modules/acc/components/gisSettings/toolbox"></div>
                <div class="acc-container area" ng-controller="modules/acc/components/gisSettings/map">
                    <div leaflet class="map-area acc-container" lf-center="model.properties.defaults.center" layers="model.properties.layers"
                        defaults="model.properties.defaults"></div>
                </div>
                <div class="acc-container property" ng-include="'modules/acc/components/gisSettings/layers.html'" ng-controller="modules/acc/components/gisSettings/layers"></div>
            </div>
        </div>
    </div>
</div>